   @import "tailwindcss";

   @theme {
     --color-kemenag-50: #f0fdf4;
     --color-kemenag-100: #dcfce7;
     --color-kemenag-500: #22c55e;
     --color-kemenag-600: #16a34a;
     --color-kemenag-700: #15803d;
     --color-kemenag-800: #166534;
     --color-kemenag-900: #14532d;
   }